{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'cafeteria/homestyle.css' %}">
  </head>

  <body>

    <main>

      <!-- Welcome Message -->
      <h1>Welcome Ewoks!</h1>
      <p>Please log in to get started.</p>

      <!-- Image -->
      <img src="{% static 'cafeteria/ewok_academy.png' %}" alt="Home Page Image" />

      <!-- Link to Login Page -->
      <a href="{% url 'login' %}">
        <button type="button">Cafeteria Login</button>
      </a>

    </main>

  </body>

</html>
